<main role="main">

	<h1>
		Home
	</h1>
	<p><a class="btn btn-primary btn-lg" href="restaurants" role="button">Restaurants &raquo;</a></p>
	<!--<%= button_to "test", graph_path, :method => :get %>-->

</main>